# Credentials & tokens
config.json*
token.json
cookies.txt

# Working notes (contain personal data)
notes/

# Virtual environment
.venv/
.*/
!.github

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

#local test file
.coverage
*.md
grap*
!Readme.md
